<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>insertdata_form.html</title>
    <style>
        form {
            width:500px;
            margin:0 auto
        }
        label {
            display:block;
            padding:5px;
            text-align: center
        }
    </style>
</head>
<body>
    <h1>insertdata_form.html</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="insertdata">데이터 삽입</a></li>
    </ul>
    <hr>
    <h2>데이터 삽입</h2>
    <form action="/action" method="POST">
    <label>user e_mail : <input type="text" name="user_e_mail"></label>
    <label>user p_num : <input type="text" name="user_p_num"></label>
    <label>user address : <input type="text" name="user_address"></label>
    <label>user age : <input type="text" name="user_age"></label>
    <label>user sex : <input type="text" name="user_sex"></label>
    <label>user family : <input type="text" name="user_family"></label>
    <label><button>전송</button></label>
    </form>
</body>
</html>